# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Pipenv
pipenv-resolver-error.log

# Environment variables
.env

# Database
db.sqlite3

# Static and media
staticfiles/
media/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store